@font-face {
  font-family: "Raleway";
  src: url('./fonts/Raleway-Medium.ttf');
  font-weight: bold;
}
html {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  font-family: Raleway;
}

body {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}
